* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #1e1e1e;
}

header {
  background-color: #214920;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "rock rock" "paper scissors";
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#rock {
  grid-area: rock;
  justify-self: center;
  margin-bottom: 10px;
}

#paper {
  grid-area: paper;
  justify-self: end;
  margin-right: 20px;
}

#scissors {
  grid-area: scissors;
  justify-self: start;
  margin-left: 20px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #D9D9D9;
  font-size: 1rem;
  cursor: pointer;
}

.resultText {
  color: #FFFFFF
}
