@import "header.css";
@import "battle.css";
@import "resultCircle.css";
@import "scoreboard.css";
@import "footer.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Figtree", sans-serif;
	background-color: #1e1e1e;
}

a.multiplayer {
	display: inline-block;
	background-color: #2d6a2c;
	color: #1e1e1e;
	text-decoration: none;
	padding: 12px 24px;
	border-radius: 6px;
	font-size: 1rem;
	cursor: pointer;
}

a.multiplayer:hover {
	text-decoration: underline;
	background-color: #214920;
}